<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>WinstonServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.revature.servlets.RegisterUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceDirectBet</display-name>
    <servlet-name>PlaceDirectBet</servlet-name>
    <servlet-class>com.revature.servlets.PlaceDirectBet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceDirectBet</servlet-name>
    <url-pattern>/PlaceDirectBet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDirectBets</display-name>
    <servlet-name>SelectDirectBets</servlet-name>
    <servlet-class>com.revature.servlets.SelectDirectBets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDirectBets</servlet-name>
    <url-pattern>/SelectDirectBets</url-pattern>
  </servlet-mapping>
</web-app>